body {
  color: #ddd;
  background: #222;
  font-family: 'Poiret One', cursive;
  padding: 0;
  margin: 0;
}

section {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}

li {
  font-size: 1.2rem;
}

.header {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  position: absolute;

  background: rgba(219,191,246, 0.3);
}

.header-link-insta {
  background: url("images/instagram.png");
  display: block;
  width: 35px;
  height: 35px;
  background-size: contain;
  margin: 1rem;
}

.header-link-viber {
  background: url("images/viber.png");
  display: block;
  width: 35px;
  height: 35px;
  background-size: contain;
  margin: 1rem;
}

.header-text {
  margin: 1.5rem;
  font-size: 1.2rem;
  color: #6D5F7B;
}

.bottom {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  left: 0;
  /*position: absolute;*/

  background: rgba(219,191,246, 0.3);
}

.brand {
  margin: 0;
  color: #F6D4F7;
}
.brand-text {
  font-size: 1.6rem;
  font-family: 'Poiret One', cursive;
  width: 40vw;
  color: #521987;
}
@media screen and (max-width: 481px) {
    .brand-text {
      font-size: 1rem;
      font-family: 'Poiret One', cursive;
      width: 100vw;
      /*color: #F6D4F7;*/
  }
}


.landing-section {
  min-height: 90vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landing-section-content {
  padding: 0 0;
  background: rgba(219,191,246, 0.8);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ddd;
}

.catalog{
  font-size: 1.6rem;
  font-family: 'Poiret One', cursive;

  color: #521987;

  padding: 1.2rem 0;
  margin-bottom: 1rem;
  background: rgba(219,191,246, 0.8);
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: 1px;
  border-radius: 15px;
}
@media screen and (max-width: 600px) {
    .catalog {
      width: 50%;
  }
}

.catalog-text{
  font-size: 1rem;
  font-family: 'Poiret One', cursive;

  color: #521987;

  background: rgba(219,191,246, 0);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: 1px;
  border-radius: 15px;
}

.landing-main {
  /*style="background-image: url(static/mamakeksus/images/logo.jpg); background-repeat: no-repeat; background-position: center; background-color: white; background-size: contain;">*/
  background: white url("images/logo_alpha.jpg") no-repeat center center;
  background-size: contain;
}

/*@media screen and (max-width: 500px){
  .landing-main {
    background: white url("images/00.jpg") no-repeat center center fixed;
    background-size: contain;
    color: #222;
  }*/
/*  body.custom-background {
    background-attachment: scroll;
  }*/
/*}*/
/*@media (max-width: 767px){*/
  /*.elementor:not(.elementor-edit-area-active) .elementor-hidden-phone {*/
    /*display: block !important;*/
/*}*/

.landing-section-body {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landing-main-body {
  background: rgba(255,255,255,1.0);
}

@media screen and (min-width: 500px) {
  .row {
    display: flex;
  }

  /* Three image containers (use 25% for four, and 50% for two, etc) */
  .column {
    float: left;
    width: 50%;
    padding: 5px;
    background: rgba(255, 255, 255, 1.0)
  }

  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
      background: rgba(255, 255, 255, 1.0)
    }
  }

  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
    background: rgba(255, 255, 255, 0.1);
  }

  .landing-main-text {
    padding: 1rem;
  }

  .langing-features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .landing-feature {
    margin: 2rem;
    min-width: 300px;
  }
}