body {
  color: #ddd;
  background: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0;
  margin: 0;
}

section {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}

li {
  font-size: 1.2rem;
}

.header {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  position: absolute;

  background: rgba(0,0,0,0.5);
}

.header-link-insta {
  background: url("images/instagram.png");
  display: block;
  width: 35px;
  height: 35px;
  background-size: contain;
  margin: 1rem;
}

.header-link-viber {
  background: url("images/viber.png");
  display: block;
  width: 35px;
  height: 35px;
  background-size: contain;
  margin: 1rem;
}

.header-text {
  margin: 1.5rem;
  font-size: 1rem;
  color: #ddd;
}

.bottom {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  left: 0;
  /*position: absolute;*/

  background: rgba(0,0,0,0.5);
}

.brand {
  margin: 0;
  color: #F6D4F7;
}
.brand-text {
  font-size: 1.2rem;
  font-family: "Helvetica";
  width: 40vw;
  /*color: #F6D4F7;*/
}
@media screen and (max-width: 481px) {
    .brand-text {
      font-size: 1rem;
      font-family: "Helvetica";
      width: 100vw;
      /*color: #F6D4F7;*/
  }
}


.landing-section {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landing-section-content {
  padding: 2rem 0;
  background: rgba(0,0,0,0.5);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ddd;
}
.landing-section-content-2 {
  padding: 1rem 0;
  background: rgba(0,0,0,0.2);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #222;
}

.landing-main {
  /*background: white url("images/logo.jpg") no-repeat center center fixed;
  background-size: contain;
  */color: #222;
}

/*@media screen and (max-width: 500px){
  .landing-main {
    background: white url("images/00.jpg") no-repeat center center fixed;
    background-size: contain;
    color: #222;
  }*/
/*  body.custom-background {
    background-attachment: scroll;
  }*/
/*}*/
/*@media (max-width: 767px){*/
  /*.elementor:not(.elementor-edit-area-active) .elementor-hidden-phone {*/
    /*display: block !important;*/
/*}*/

.landing-section-body {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landing-main-body {
  background: rgba(255,255,255,1.0);
}

@media screen and (min-width: 500px) {
  .row {
    display: flex;
  }

  /* Three image containers (use 25% for four, and 50% for two, etc) */
  .column {
    float: left;
    width: 50%;
    padding: 5px;
    background: rgba(255, 255, 255, 1.0)
  }

  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
      background: rgba(255, 255, 255, 1.0)
    }
  }

  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
    background: rgba(255, 255, 255, 0.1);
  }

  .landing-main-text {
    padding: 1rem;
  }

  .langing-features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .landing-feature {
    margin: 2rem;
    min-width: 300px;
  }
}